

{% extends 'products/base.html' %}
{% block content %}
  <div class="card-container"> 
    <div class="panel">
    <h2>Companies</h2>
    <div class="card">
      <div style="display: flex; align-items: center; flex-direction: row; gap: 40px;">
        <a href="{% url 'company_add' %}" class="custom-button">Add Company</a>

        <a class="custom-button-placeholder">Delete Company</a>
        <a class="custom-button-placeholder">Search Company</a>
        <a class="custom-button-placeholder">Bulk Select</a>
      </div>
      <table style="width: 100%; ">
          <tr><th>Name</th><th>Contact</th><th>Actions</th></tr>
          {% for company in company_list %}
          <tr>
              <td>{{ company.name }}</td>
              <td>{{ company.contact }}</td>
              <td><a href="{% url 'company_edit' company.pk %}">Edit</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  </div>

{% endblock %}