{% extends 'products/base.html' %}
{% block content %}
  <div class="card-container"> 
    <div class="panel">
    <h2>Groups</h2>
    <div class="card">
      <div style="display: flex; align-items: center; flex-direction: row; gap: 40px;">
        <a href="{% url 'group_add' %}" class="custom-button">Add Group</a>
        <a href="{% url 'group_type_add' %}" class="custom-button">Add Group Type</a>

        <a class="custom-button-placeholder">Delete Group</a>
        <a class="custom-button-placeholder">Search Group</a>
        <a class="custom-button-placeholder">Bulk Select</a>
      </div>
      <table style="width: 100%; ">
          <tr><th>Name</th><th>Guide</th><th>Type</th><th>Tax Threshold</th><th>Date</th><th>Default</th><th>Actions</th></tr>
          {% for group in group_list %}
          <tr>
              <td>{{ group.name }}</td>
              <td>{{ group.guide.name }}</td>
              <td>{{ group.group_type }}</td>
              <td>{{ group.tax_threshold }}</td>
              <td>{{ group.date }}</td>
              <td>{{ group.default }}</td>
              <td><a href="{% url 'group_edit' group.pk %}">Edit</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  </div>

{% endblock %}