{% extends 'products/base.html' %}
{% block content %}

<div class="card-container"> 
  <div class="panel">
  <h2>Guides</h2>
  <div class="card">
    <div style="display: flex; align-items: center; flex-direction: row; gap: 40px;">
      <a href="{% url 'guide_add' %}" class="custom-button">Add Guides</a>
      <a class="custom-button-placeholder">Delete Guides</a>
      <a class="custom-button-placeholder">Search Guides</a>
      <a class="custom-button-placeholder">Bulk Select</a>
    </div>
    <table style="width: 100%; ">
        <tr><th>Name</th><th>Contact</th><th>TC %</th><th>Company</th><th>Actions</th></tr>
        {% for guide in guide_list %}
        <tr>
            <td>{{ guide.name }}</td>
            <td>{{ guide.contact }}</td>
            <td>{{ guide.tc_rate }}</td>
            <td>{{ guide.company.name }}</td>
            <td><a href="{% url 'guide_edit' guide.pk %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
  </div>
</div>

{% endblock %}