{% extends 'groups/base.html' %}
{% block content %}
  
    <div class="card-container">
        <div class="panel" >
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Companies</h2>
                <a href="{% url 'company_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Contact</th><th>Actions</th></tr>
                        {% for company in companies %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td>{{ company.contact }}</td>
                            <td><a href="{% url 'company_edit' company.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel">
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Guides</h2>
                <a href="{% url 'guide_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Contact</th><th>TC %</th><th>Company</th><th>Actions</th></tr>
                        {% for guide in guides %}
                        <tr>
                            <td>{{ guide.name }}</td>
                            <td>{{ guide.contact }}</td>
                            <td>{{ guide.tc_rate }}</td>
                            <td>{{ guide.company.name }}</td>
                            <td><a href="{% url 'guide_edit' guide.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        
        <div class="panel">
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Groups</h2>
                <a href="{% url 'group_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Guide</th><th>Type</th><th>Date</th><th>Default</th><th>Actions</th></tr>
                        {% for group in groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>{{ group.guide.name }}</td>
                            <td>{{ group.group_type }}</td>
                            <td>{{ group.date }}</td>
                            <td>{{ group.default }}</td>
                            <td><a href="{% url 'group_edit' group.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}