{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
  <div style="display: flex; flex-direction: column; width: 100%; height: 400px; justify-content: center; align-items: center; ">
    <h2 style="align-self: flex-start; margin-left: 0;">Revenue per Till</h2>
    <canvas id="priceChart" style="width: 100%; height: 100%;"></canvas>
    </div>
  </div>
  <!-- <div style=" background-color:blue;width: 100%, display: flex; justify-content: center; margin-bottom: 1em;">
    <div style="max-width:300px; color:blue;">
      <canvas id="priceChart" width="300" height="200"></canvas>
    </div>
  </div> -->
  
  {{ block.super }}  {# this renders the normal table below #}
{% endblock %}

{% block footer %}
<script>
  (function() {
    const ctx = document.getElementById('priceChart').getContext('2d');
    new Chart(ctx, {
      type: 'doughnut', // Other options: 'line', 'pie', 'doughnut', 'radar', 'polarArea', 'bubble', 'scatter'
      data: {
        labels: {{ chart_labels|safe }},
        datasets: [{
          label: 'Price (AUD)',
          data: {{ chart_data|safe }},
          // backgroundColor: 'rgba(75, 192, 192, 0.4)',
          // borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        animation: {
          duration: 1000,
          cutout: '50%', // for doughnut charts
        },
        plugins: {
          title: { display: true, text: "Total: {{ total|safe }}" },
          legend: { display: false }
        }
      }
    });
  })();
</script>
{% endblock %}
