{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

  <div style="display: flex; flex-direction: column; width: 100%; gap: 9px; padding: 9px;">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title" style="margin-bottom: 0;">Product Sold</h2>
      </div>
      <div class="card-body">
    <canvas id="chart2" style="width: 100%; height: 300px;"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title" style="margin-bottom: 0;">Product Prices</h2>
      </div>
      <div class="card-body">
    <canvas id="chart1" style="width: 100%; height: 100%;"></canvas>
      </div>
    </div>
  </div>
  {{ block.super }}  {# this renders the normal table below #}
{% endblock %}

{% block footer %}
<script>
  (function() {
    const ctx = document.getElementById('chart1').getContext('2d');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ chart_labels|safe }},
        datasets: [{
          label: 'Price (AUD)',
          data: {{ chart_data|safe }},
          backgroundColor: 'rgba(75, 192, 192, 0.4)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: { y: { beginAtZero: true } },
        plugins: {
          title: { display: true, text: 'All Product Prices' },
          legend: { display: false }
        }
      }
    });
  })();
  (function() {
    const ctx = document.getElementById('chart2').getContext('2d');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ sold_chart_labels|safe }},
        datasets: [{
          label: 'Quantity',
          data: {{ sold_chart_data|safe }},
          backgroundColor: 'rgba(75, 192, 192, 0.4)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: { y: { beginAtZero: true } },
        plugins: {
          title: { display: true, text: 'All Product Prices' },
          legend: { display: false }
        }
      }
    });
  })();
</script>
{% endblock %}
