

{% extends 'transactions/base.html' %}
{% block content %}
  <div class="card-container"> 
    <div class="panel">
    <h2>Transactions</h2>
    <div class="card">
      <div style="display: flex; align-items: center; flex-direction: row; gap: 40px;">
        <a href="{% url 'transaction_add' %}" class="custom-button">Add Transaction</a>

        <a class="custom-button-placeholder">Delete Transaction</a>
        <a class="custom-button-placeholder">Search Transaction</a>
        <a class="custom-button-placeholder">Bulk Select</a>
      </div>
      <table style="width: 100%; ">
          <tr><th>Date Time</th><th>Receipt</th></tr>
          {% for transaction in transaction_list %}
          <tr>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.receipt }}</td>
              
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  </div>

{% endblock %}