{% extends 'products/base.html' %}
{% block content %}
  
    <div class="card-container">
        <div class="panel" >
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Brands</h2>
                <a href="{% url 'brand_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Contact</th><th>Actions</th></tr>
                        {% for brand in brands %}
                        <tr>
                            <td>{{ brand.name }}</td>
                            <td>{{ brand.contact }}</td>
                            <td><a href="{% url 'brand_edit' brand.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel">
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Bundles</h2>
                <a href="{% url 'bundle_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Price</th><th>Actions</th></tr>
                        {% for bundle in bundles %}
                        <tr>
                            <td>{{ bundle.name }}</td>
                            <td>{{ bundle.price }}</td>
                            <td><a href="{% url 'bundle_edit' bundle.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        
        <div class="panel">
            <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                <h2>Products</h2>
                <a href="{% url 'product_list' %}" class="custom-button">view detail</a>
            </div>
            <div class="card">
                <div class="table-container" >
                    <table style="width: 100%; ">
                        <tr><th>Name</th><th>Price</th><th>Count</th><th>Brand</th><th>Actions</th></tr>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.count }}</td>
                            <td>{{ product.brand.name }}</td>
                            <td><a href="{% url 'product_edit' product.pk %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}