{% extends 'products/base.html' %}
{% block content %}

<div class="card-container"> 
  <div class="panel">
  <h2>Products</h2>
  <div class="card">
    <div style="display: flex; align-items: center; flex-direction: row; gap: 40px;">
      <a href="{% url 'product_add' %}" class="custom-button">Add Product</a>
      <a class="custom-button-placeholder">Delete Product</a>
      <a class="custom-button-placeholder">Search Product</a>
      <a class="custom-button-placeholder">Bulk Select</a>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Brand</th>
        <th>Tax Rate</th>
        <th>Disc Rate</th>
        <th>Barcode</th>
        <th>Actions</th>
      </tr>
      {% for product in object_list %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.count }}</td>
          <td>{{ product.brand.name }}</td>
          <td>{{ product.tax_rate }}</td>
          <td>{{ product.discount_rate }}</td>
          <td>{{ product.barcode.barcode }}</td>
          <td><a href="{% url 'product_edit' product.pk %}">Edit</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  </div>
</div>

{% endblock %}